.contain-banner{
    .banner{
        position: relative;      
        blockquote{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            padding: 10px;
            margin-bottom: 0;
            .content{
                background: rgba(0,0,0,.7);
                border-radius: 10px;
                padding: 10px;
                margin-top: auto;
                color: white;                
                .slogan{
                    margin-bottom: 0;
                }
                .slogan1{
                    margin-bottom: 0;
                    font-size: 12px;
                }
                .btn{
                    padding: 0.5 ;
                    background: var(--secondary2);
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}