.contain-banner{
    .banner{
        position: relative;      
        blockquote{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            padding: 10px;
            margin-bottom: 0;                 
            @media (min-width:567px) {
                padding: 50px;
            }         
            .content{
                background: rgba(0,0,0,.7);
                border-radius: 10px;
                padding: 10px;
                margin-top: auto;
                color: white;     
                @media (min-width:567px) {
                    margin-bottom:auto;
                    margin-top:auto;
                    padding: 15px;
                }           
                .slogan{
                    margin-bottom: 0;
                    font-size: 5vw;
                    @media (min-width:567px) {
                        font-size: 24px;
                    }
                    @media (min-width:992px) {
                        font-size: 32px;
                        margin-bottom: 15px;
                    }
                }
                .slogan2{
                    margin-bottom: 15px;
                    font-size: 3vw;
                    @media (min-width:567px) {
                        font-size: 16px;
                    }
                    @media (min-width:992px) {
                        font-size: 18px;
                        margin-bottom: 50px;
                    }
                }
                .btn{
                    padding: 0.3em 0.5em;
                    background: var(--secondary2);
                    color: white;
                    font-size: 3vw;
                    font-family: 'Signika';
                    @media (min-width:567px) {
                        font-size: 16px;
                    }

                    @media (min-width:992px) {
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}